# Django database
db.sqlite3

# PyCharm virtual environment
venv

# Intellij configurations
.idea

# dotenv file
.env

# Remove migration files, each clone of the repository should have a fresh database
**/migrations/
